{% extends 'base.html' %}

{% block content %}
<h2>게시물 생성</h2>

<div class="mt-2">
    <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">title</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="title">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">content</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
        </div>
        <br>
        <input type="submit" value="생성" class="btn btn-outline-primary">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-primary">목록으로 돌아가기</a>
    </form>
</div>

{% endblock %}